.a-start {
  justify-content: flex-start;
}

.a-end {
  justify-content: flex-end;
}

.a-space-around {
  justify-content: space-around;
}

.a-center {
  justify-content: center;
}


.a-space-between {
  justify-content: space-between;
}